body {
    font-family: 'Bebas Neue', cursive;
    min-height: 1000px; 
    
}
.hero {
  background-image: url(/Assets/gedung.jpeg);
  background-repeat:no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  
}

.hero p{
  background-color: #ABACB2AB;
  font-size: 48px;
  text-align: center;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.isi{
  margin-top: 1.5rem;
  padding: 5px;
}
.isi h4{
  text-align: center;
}
.isi p{
  text-align: center;
  
}

#design{
  margin-top: 4rem;
  
}

#design h4{
  text-align: center;
  padding: 4px;
}
#design h5{
  text-align: center;
}

#order{
   margin-top: 5rem;
   background-image: url(/Assets/kuli.jpeg);
   background-repeat:no-repeat;
   height: 500px;
   background-size: cover;
   background-position: center;
   position: relative;
}
#order p{
   background-color: #ABACB2AB;
   font-size: 36px;
   text-align: center;
   color:white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

#order a{
  font-size:24px;
  color: white;
  text-decoration: none;
  background-color: #15C79B;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  
  
}

#order a:hover{
  background-color: blue;
}



#kaki{
  margin-top: 3rem;
  width: 100%;
  height: 75px;
  position: relative;
}
#kaki p{
  color: white;
  font-size: 24px;
  background-color: #273036;
  text-align: center;
}